.bg-an-hien{
    position: fixed;
    height: 100%;
    width: 100%;
    background: dimgray;
    z-index: 999;
    opacity: 0.7;
}
.div-an-hien{
    z-index: 1000;
    position: absolute;
    width: 100%;
}
.button-menu-an-hien{
    position:absolute; 
    top: -41px; 
    left: 0%;
}

.Logo{
    text-decoration: none;
}
.logo:hover{
    text-decoration:none !important;
}
#maybay{
    height:35px; 
    position: absolute; 
    left:-29%;
    transition: all 0.7s 0s ease-in-out;
}
#maybay:hover{
    margin-left: 340px;
    margin-top: 9px;
}

.nut-menu{
    opacity: 0.2;
}
.div-tuy-chon{
    
    
    margin: 0 auto;
}
.nhap-thong-tin{
    width: 300px;
}
.khu-hoi{
    width: 500px;
    margin: 0 auto;
}
#khu-hoi{
   flex: 0 !important;
}
.ho-tro{
    height:100px; 
    width:100px; 
    position: fixed; 
    z-index: 999;
    right: -93px;
    bottom: 7%;
}
.ho-tro2{
    height:100px; 
    width:100px; 
    position: fixed; 
    z-index: 999;
    right: 85px;
    bottom: 7%;
}
.anh-vn{
    border: 10px solid #F8F9FA;
}

.Bcard{
    opacity: 0;
}
.Bcard:hover{
    opacity: 0.8;

}
li{
    color: #F3F3F3;
    list-style: none;
}
.footer{
    font-size: 50px;
    margin: 20px;
}
hr{
    width: 600px;
}
@media only screen and (max-width: 1200px ) {
    .ulmenu2 {
        font-size: 14px;
    }
    #maybay{
        left:-31%; 
    }
}
@media only screen and (max-width: 992px ) {
    .ulmenu2, .header-menu{
        display: none!important;
    }
}

@media only screen and (min-width: 992px ) {
    .divMenuNho {
        font-size: 14px;
        display: none !important;
    }

}